{% extends "baseSupAd.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}


{% block body %}



<div class="row bg-title">
 
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Accueil entreprise </h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-4 col-xs-12"> 
                    <o class="breadcrumb">
                        <li>Entreprise </li>
                        <li class="active"> Page d'accueil</li>
                    </o>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"> Date d'inscription: {{entre.creatAt|date("Y-m-d")}}</div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <h3 class="box-title">Info Entreprise</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">nom:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> <B>{{entre.nom}}</B> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">secteur activité:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"><B> {{entre.secteur}}</B> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Adresse:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"><B> {{entre.adresse}}</B> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Telephone:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> <B>{{entre.telephone}}</B> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Site web</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"><B> {{entre.site}} </B></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Inscription:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"><B> {{entre.creatAt|date("Y-m-d")}} </B></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                           
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--./row-->











 <!-- .row -->
               


{% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}
